---
layout: base.njk
title: "Thanks for Your Interest in Volunteering"
---

{% block content %}
<div class="section background-white">
  <div class="content-container">
    <div class="diversity-content-box">
      <div class="w-richtext">
        <h2>Thanks <span data-ms-member="first-name">*Name*</span>!</h2>
        <p>Your volunteerism helps co-creating a truly supportive refuge community at Rooted In Mindfulness. On behalf of the lives you impact with your care and generosity, <strong>thank you.</strong></p>
        <p>Someone from RIM will get in touch with you soon.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
