---
layout: base.njk
title: "Guidelines for Starting a Kalyana Mitta Group"
---

{% block content %}
<div class="section lesson-hero">
  <div class="container-4"></div>
  <h1 class="lesson-page-heading"><strong>Kalyana Mitta Group Guidelines</strong></h1>
</div>
<div class="section-10">
  <div class="content-container centered">
    <div class="rich-text-container">
      <div class="article w-richtext">
        <h3>Group Purpose</h3>
        <p>Kalyana Mitta is a Pali term that means &quot;spiritual friend.&quot; Often used to describe someone in the teacher role. However, it also refers to anyone on the Dharma path who may be a supportive guide, friend, and a fellow co-traveler. </p>
        <p>The Kalyana Mitta Groups support RIM community members interested in ongoing learning, meditation practice, and mindful living. KM Groups complement formal RIM programs and connect people who share affinities, study interests, meditation practices, and other dharma-based activities.</p>
        <h3>Group Size</h3>
        <p>A KM group varies in size, but usually consists of 5-12 members. These smaller groups provide an intimate setting, making it possible for sangha bonds to grow as participants explore Dharma-related interests together.</p>
        <h3>Facilitating in Pairs</h3>
        <p>Facilitating in pairs is one important guideline for the KM groups. Co-facilitating minimizes potential projections, both positive and negative, by the other group members and the positive and negative identifications of the persons leading the group. It also takes the pressure off one person to solely create a safe and healthy space for discussion. When two people who enjoy talking about the Dharma are co-facilitators, their enthusiasm benefits everyone.</p>
        <h3>Group Focus</h3>
        <p>Dharma practice is a whole-life practice. Therefore, the possible focus and intentions for forming a group are countless. Some groups have a single purpose, such as right speech, dharma study, recovery, affinity, or community service, to name a few. Other KM Groups more generally address keeping the practice alive and fresh in one&#x27;s daily life. Regardless, determining the group&#x27;s focus is a necessary first step. </p>
        <p>Each group will develop a distinctive character and style. When the two facilitators first decide to form a group, the clearer they are on the group&#x27;s focus, the more potential participants will know if it is right for them. </p>
        <p>Once the facilitators decide on the Group&#x27;s Focus, they are welcome to submit an application to the Kalyana Mitta Coordinator. Prior to additional planning, this step will ensure the groups focus aligns with RIM&#x27;s Vision and Mission.</p>
        <h3>Experience</h3>
        <p>The facilitators should decide what level of participants&#x27; experience is fitting for the group. For example, the group may be open to everyone regardless of practice and dharma experience. Or, is the group more suitable for folks further down the path? Maybe, it&#x27;s most suitable for those just getting started?</p>
        <p>The Facilitators can establish experience guidelines when forming the group. For instance, some experienced groups require participants to have attended retreats or have a regular sitting practice. Other groups support those who have recently discovered the practice. Decide what best fits the group&#x27;s intentions; this will significantly impact the group members&#x27; resonance. </p>
        <h3>Meeting Intervals and Commitment</h3>
        <p>Groups vary significantly in how often they meet. Some meet weekly, some every two weeks, some monthly. </p>
        <p>Commitment to attend the meetings is a significant factor in the group&#x27;s success. Therefore, it is recommended that group members agree upon a time frame, such as three or six months, to commit to attending every meeting unless business, travel, or unforeseen circumstances make attending impossible. At the end of that time, the members can reevaluate their commitment and assess whether they should continue.</p>
        <p>Consider what works for the group facilitators. Ideally, facilitating should be a nourishing activity for both facilitators. For example, what commitment provides continuity while not feeling like a burden of &quot;one more thing to do?&quot; Often, group facilitation becomes an enriching activity and a meaningful part of learning and practice. </p>
        <h3>Suggested Group Length and Format</h3>
        <p>Establishing a formal group format is very beneficial. It helps create a supportive container that protects the integrity of the group. The format will be influenced by the duration of each meeting. Groups generally meet for 1-3 hours. </p>
        <p>Based on RIM&#x27;s experience and other dharma centers, the following format works well. It is structured yet open enough to serve the needs of most groups, regardless of focus. </p>
        <ol role="list">
          <li><strong>It is strongly encouraged that each meeting starts with silent meditation.</strong> Opening with a formal meditation helps folks settle in with presence, mindfulness, calm, and intentionality.</li>
          <li><strong>Personal Check-In by Each Member:</strong> The check-in is a skillful way for each person to feel more connected. The time spent on check-in varies greatly. The group can decide how much time it wants to spend on this part and how in-depth the sharing is. Facilitators remind members of how long each person takes for their sharing, particularly if the check-ins are becoming too drawn out. </li>
          <li><strong>The Group Focus Portion:</strong> This time is spent on the primary intentions of the group. This might be sharing reflections related to dharma topics, book readings, class study, practice meditation, socially engaged activities, community service, etc. This portion of the meeting is unique to each group. Sometimes, this portion of the group is further structured. Other times, it is open. Either way, it&#x27;s helpful for everyone to know what to expect and how long this portion will be.</li>
          <li><strong>Towards the end of the session, before formal closing, a vital part of the gathering will be taking some &quot;process time&quot; for members to express how the meeting was for them.</strong> Often this will be for five or ten minutes, rarly longer. This time gives each person a chance to provide feedback about what is or isn&#x27;t working for them rather than leaving the meeting feeling disconnected from the group. Members can share observations and explore ways to strengthen the integrity of the group for everyone involved. The Process Time can be a particularly rich practice exercise in using Right Speech. Saying what&#x27;s truthful and useful, without blame, can make for a deeper sense of honesty and mutual commitment to the group&#x27;s shared intentions.</li>
          <li><strong>Ending with a Short Mindfulness or Loving-Kindness Meditation.</strong> Ending this way can bring a sense of closure to the meeting.</li>
        </ol>
        <h3>Practice Between Meetings</h3>
        <p>KM Groups at RIM help members integrate and realize the benefits of meditation and mindfulness within everyday life. In this light, KM group facilitators are encouraged to incorporate daily life into the group&#x27;s focus. </p>
        <p>What happens between meetings is as significant as at the meetings. Are there contemplations and practices that members can apply to everyday life practice? Is there an opportunity to share the Dharma that arose between sessions in a way that comes alive through a commitment to explore patterns in our daily life? This becomes a starting off point for discussion at the next meeting. Having some accountability to the group makes the contemplations more a conscious part of one&#x27;s day. Also, in the sharing, each participant benefits from the discoveries of all the members.</p>
        <h3>Responsibilities of the Facilitators</h3>
        <p>Participating in a KM group benefits the entire RIM community. It&#x27;s also worth noting that members are practicing a radical act of generosity and care by facilitating a group. </p>
        <p>The facilitators&#x27; chief responsibility is to create a safe and supportive space for rich Dharma discussions. This section is intended to offer general direction related to this endeavor. As facilitators, we ask that all new groups consider the following:</p>
        <ol role="list">
          <li><strong>Vision and Mission:</strong> Because KM Groups are a part of the Greater RIM Community, we ask that all groups reflect RIM&#x27;s overarching vision and Mission. This ensures that KM groups align with everyone&#x27;s intentions for learning and practice. Each group is asked to create a mission statement that reflects the group&#x27;s focus. This will help ensure that groups keep true to their original purpose.</li>
          <li><strong>Integrity and Ethical Conduct:</strong> The Dharma is essentially about cultivating the wisdom and compassion necessary for protecting all beings from avoidable harm and increase health, wellness, awakening, and freedom. Everyone at RIM, including community-led KM Groups, is asked to do their part in promoting safety and support for everyone. Intentionally harmful and divisive speech and actions are not welcome.</li>
          <li><strong>Confidentiality:</strong> Guidelines related to confidentiality around sharing are indispensable. All sharing should be considered personal. Some groups, such as those related to recovery and other personal topics, may require members to keep attendance private. Confidentiality should be agreed on for all RIM KM group participants.</li>
          <li><strong>Mindful Listening and Speech:</strong> Another aspect of safety is monitoring the group&#x27;s energy and the flow of discussion. People vary greatly in their ease of speaking to a group. Some are reserved; others are more communicative. Ensuring that everyone has a chance to be heard and that a few people do not dominate is essential to healthy group dynamics. The facilitators must be willing to take a more directive role when called for (i.e., someone is too controlling or the group is getting side-tracked). Everyone is asked to practice Wise and Compassionate Communication as practiced at RIM.</li>
          <li><strong>Healthy Boundaries around personal Sharing:</strong> Some groups emphasize personal sharing in which there is a great sense of trust and intimacy between the participants. Other groups prefer not to get too personal as this can become the focus more than Dharma discussions. The clearer the leaders and members are on the right balance between personal and general discussion, the healthier the group will be.</li>
          <li><strong>Group Vitality:</strong> Community groups provide support and inspiration for learning and practice. If the vitality and commitment of the group members are waning, then it should be addressed. Perhaps all members can take responsibility as &quot;vibes watchers&quot; and share during &quot;process time.&quot; Facilitators can discuss ways to address such issues amongst themselves and with the groups. </li>
          <li><strong>Co-Facilitating Support:</strong> Connecting right after or soon after the meeting will help the facilitators develop the skills needed to ensure the integrity of the KM Groups. Facilitating a KM group is a truly beneficial practice. As co-facilitators, it is helpful to have a friendly, open, and intentional relationship. This will not only benefit the facilitators but will likewise be reflected in the group as a whole. </li>
          <li><strong>Checking-in for Support or Guidance: </strong>Facilitators should consider themselves and the group part of the larger RIM community of spiritual friends (sangha). Facilitators can get support or guidance from the Kalyana Mitta group coordinator and a RIM Dharma teacher while their group is developing. Toward that end, it would be good to establish contact with a teacher to check in from time to time. </li>
          <li><strong>Please keep us informed:</strong> Reach out to the Kalyana Mitta Group Coordinator at least once every three months. Maintaining the contact allows us to support you when needed. Also, it will enable us to know the status of your group. If your group ends, please let us know that as well. The Kalyana Mitta Group Coordinator will also reach out from time to time with feedback that they may have received from group participants, RIM leadership, or the Guiding Teacher. </li>
          <li><strong>Website and Email: </strong>List your group on RIMs website and include your group on RIM&#x27;s weekly email by contacting the Kalyana Group Coordinator KalyanaMitta@rootedinmindfulness.org.</li>
        </ol>
        <p><br></p>
        <h3>Next Step: Kalyana Mitta Group Application</h3>
        <p>Please fill out the <a href="/kalyana-mitta/kalyana-mitta-group-application">Kalyana Mitta Group application</a> after considering the key points listed above. Then, the Kalyana Mitta Group Coordinator will reach out and help you get your group up and running and open to the RIM community!</p>
        <p>Thanks for considering starting a Kalyana Mitta Group at RIM. We are profoundly grateful for your gift to the entire RIM community.</p>
        <p><br><br></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
