---
layout: base.njk
title: "Rooted In Mindfulness - Meditation Center - Brookfield - Greater Milwaukee"
metaDescription: "RIM is a Community Insight Meditation Center dedicated to providing a spiritual refuge for all who wish to live with greater wisdom, compassion, and well-being."
---

<section class="header-section-video">
  <div class="header-content-video">
    <div class="header-title-video">
      <div class="header-content">
        <h1 class="h1-heading">Awaken your <span>Mind,</span><br>Open your <span>Heart,</span><br>Nourish your <span>Life,</span><br>Beautify the <span>World.</span></h1>
        <div class="max-width-large">
          <p class="paragraph-32">RIM is a modern, welcoming Dharma center grounded in traditional Buddhist wisdom. We offer meditation and mindful living practices in a safe and supportive community—to help one another heal, grow, awaken, and live in ways that benefit yourself, those you love, and our shared world.</p>
        </div>
        <a href="/community-membership" class="button-primary w-button">Join us–today</a>
      </div>
    </div>
  </div>
  <div class="background">
    <div class="header-gradient-overlay"></div>
    <div data-poster-url="/videos/Bodhi_Leaves-poster-00001.jpg" data-video-urls="/videos/Bodhi_Leaves-transcode.mp4,/videos/Bodhi_Leaves-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="header-background-video w-background-video w-background-video-atom">
      <video autoplay loop style="background-image:url('/videos/Bodhi_Leaves-poster-00001.jpg')" muted playsinline data-wf-ignore="true" data-object-fit="cover">
        <source src="/videos/Bodhi_Leaves-transcode.mp4" data-wf-ignore="true">
        <source src="/videos/Bodhi_Leaves-transcode.webm" data-wf-ignore="true">
      </video>
    </div>
  </div>
</section>

<div class="section background-white">
  <div class="container-home-page">
    <div class="grid-halves reverse-direction">
      <div class="container-image">
        <div class="section-image what-we-do"></div>
      </div>
      <div class="container-content flip-pull">
        <div class="section-content content-info">
          <h2>Learn, Practice, and Grow Together.</h2>
          <p class="section-text-3">‍<strong>RIM</strong> is a diverse community where people from all walks of life come together to nurture our natural capacity for wisdom, compassion, well-being, and authentic happiness.<br><br>Through the timeless teachings of meditation, mindful living, and shared community support, we aspire to live in ways that uplift ourselves, benefit others, and care for our shared world.</p>
        </div>
        <div class="section-platforms">
          <div class="program-details-content no-bottom-margin">
            <h2>Timeless Wisdom for our Modern Life.</h2>
            <p class="section-text-3">We share the heart of Buddhist wisdom through Insight (Vipassana) practice—rooted in the Pāli Canon and enriched by the universal Dharma of all Buddhist traditions. Our teachings and practices are free from dogma, informed by modern science and lived experience, and offered in a spirit of generosity. Accessible to secular and spiritual seekers alike, they invite everyone to explore a more mindful, compassionate, and awakened way of life.<br> 👋🏿👋🏾👋🏽👋🏼👋🏻🌈</p>
            <a href="/diversity" class="button-2 w-button">Diverse Together - Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Programs" class="section background-white-copy">
  <div class="container-home-page">
    <div class="grid-halves reverse-direction">
      <div class="container-content flip-pull">
        <div class="section-content content-info-copy">
          <h2>Join a Mindfulness-Based Community<br></h2>
          <p class="section-text-3">An intentional community provides connection, support, and friendship that can nourish us in a world where we may feel disconnected and unsupported.<br><br>Be with others who share an intention to awaken our innate human goodness through meditation and mindful living. Together, we learn and practice ways to reduce harm and nourish well-being within one another and our shared world.<br>‍<br><strong>Become a RIM Community Member and participate in events, meditation sessions, dharma talks, classes, community groups, retreats, and much more. <br></strong></p>
          <a href="/community-membership" class="button-2 w-button"> Learn More &amp; Join Us!</a>
        </div>
        <div class="section-platforms-copy">
          <div class="section-platforms-title-copy-2">
            <h2>Community Programs</h2>
            <p class="paragraph-13"><strong>Learn and practice with others.</strong> To safely stay connected, sit together, and support each other, Tuesday and Saturday Drop-in classes are now offered<strong> in-person at the center or online </strong>via zoom! Other classes are held on zoom exclusively.</p>
          </div>
          <div class="section-platforms-row">
            <div class="w-layout-grid grid-19">
              <a href="/community-programs" class="div-block-101 w-inline-block">
                <div><h2 class="book-card-title-copy">Ongoing Drop-Ins</h2></div>
              </a>
              <a href="/community-programs" class="div-block-101 w-inline-block">
                <div><h2 class="book-card-title-copy">Classes &amp; Courses</h2></div>
              </a>
              <a href="/community-programs" class="div-block-101 w-inline-block">
                <div><h2 class="book-card-title-copy">Retreats &amp; Workshops</h2></div>
              </a>
              <a href="/community-programs" class="div-block-101 w-inline-block">
                <div><h2 class="book-card-title-copy">Community Groups</h2></div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-image">
        <div class="section-image community-programs-image"></div>
      </div>
    </div>
  </div>
</div>

<div class="section background-white">
  <div class="container-home-page">
    <div class="div-block-110">
      <div class="div-block-111">
        <h2>A Generosity-Based Approach</h2>
        <p class="section-text-3">RIM is inspired by the spirit of <em>Dana</em>, an ancient Pali language word that means generosity of heart, mind, and action. <em>Dana</em> promotes a healthier, selfless, caring, and grateful world. <br><br>Traditionally, Buddhist nuns and monks offer teachings in the spirit of generosity, while the community supports the teachers and the center to the level of their ability. In this same spirit, RIM and its teachers do not charge any fees or tuition and are supported by the community.<br><br>As an alternative to a pay-for-service economics model, RIM embraces a generosity-based model. The RIM community is a living gift made possible by the appreciation, goodwill, and generosity of the kind people inspired to give financial support, volunteer, teach, and support one another.<br><br><strong><em class="italic-text">RIM is a 501(c3) non-profit organization.</em></strong></p>
        <a href="/donate" class="button-2 _20px-from-top donate-red w-button">Give a Donation</a>
      </div>
    </div>
  </div>
</div>

