---
layout: base.njk
title: "Login"
---

<div class="section background-white">
  <div class="container-7-copy">
    <div class="login-box">
      <div class="w-form">
        <form id="wf-form-login" name="wf-form-login" data-name="login" method="get" data-ms-form="login" class="form-container-4" data-wf-page-id="5fa47dc6aca38709846482c6" data-wf-element-id="af145f3e-b7c3-d5ad-d674-858bf54b0eca">
          <h1 class="form-header">Log in</h1>
          <div class="text-field-wrapper"><label for="email" class="input-label-2">Email</label><input class="input w-input" maxlength="256" name="email" data-name="email" placeholder="e.g. howard.thurman@gmail.com" type="email" id="email" data-ms-member="email" required=""></div>
          <div class="text-field-wrapper">
            <div class="relative"><label for="Password-3" class="input-label-2">Password</label>
              <div data-current="Show" data-easing="ease" data-duration-in="300" data-duration-out="100" class="show-hide-wrap w-tabs">
                <div id="transformButton" data-transform="true" class="w-tab-menu">
                  <a data-w-tab="Show" class="show-hide w-inline-block w-tab-link w--current">
                    <div class="svg w-embed"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="auto" viewbox="0 0 24 24" width="1000px" fill="currentColor">
                        <rect fill="none" height="24" width="24"></rect>
                        <path d="M12 6.5c2.76 0 5 2.24 5 5 0 .51-.1 1-.24 1.46l3.06 3.06c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l2.17 2.17c.47-.14.96-.24 1.47-.24zM2.71 3.16c-.39.39-.39 1.02 0 1.41l1.97 1.97C3.06 7.83 1.77 9.53 1 11.5 2.73 15.89 7 19 12 19c1.52 0 2.97-.3 4.31-.82l2.72 2.72c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L4.13 3.16c-.39-.39-1.03-.39-1.42 0zM12 16.5c-2.76 0-5-2.24-5-5 0-.77.18-1.5.49-2.14l1.57 1.57c-.03.18-.06.37-.06.57 0 1.66 1.34 3 3 3 .2 0 .38-.03.57-.07L14.14 16c-.65.32-1.37.5-2.14.5zm2.97-5.33c-.15-1.4-1.25-2.49-2.64-2.64l2.64 2.64z"></path>
                      </svg></div>
                    <div>Hide</div>
                  </a>
                  <a data-w-tab="Hide" class="show-hide w-inline-block w-tab-link">
                    <div class="svg w-embed"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="auto" viewbox="0 0 24 24" width="1000px" fill="currentColor">
                        <rect fill="none" height="24" width="24"></rect>
                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                        <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"></path>
                      </svg></div>
                    <div>Show</div>
                  </a>
                </div>
                <div class="hide w-tab-content">
                  <div data-w-tab="Show" class="w-tab-pane w--tab-active"></div>
                  <div data-w-tab="Hide" class="w-tab-pane"></div>
                </div>
              </div>
            </div><input data-show="true" class="input w-input" maxlength="256" name="Password" data-name="Password" placeholder="8+ characters" type="password" id="field" data-ms-member="password" required="">
          </div>
          <div class="flex-row-outer margin-bottom">
            <a href="/password/forgot-password" class="forgot-password">Forgot password</a>
          </div><input type="submit" data-wait="Please wait..." class="link-block-3 w-button" value="Let&#x27;s go →">
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="show-hide-code w-embed w-script">
    <script>
//attach a click handler to the button to make it transform when clicked, via our transform() function below
    document.querySelector("[data-transform]").addEventListener("click", transform);
    //flag of whether or not it is a password field or text field
    var isPassword = true;
    //this function will toggle the input between being a password or a text input
    function transform() {
        //copy the element itself, its html source, and value text to a variable
        var myInput = document.querySelector("[data-show]");
        var oldHtml = myInput.outerHTML;
        var text = myInput.value;
        if (isPassword)
        {
            //replace "password" with "text" in the html if it is a password field
            var newHtml = oldHtml.replace(/password/g, "text");
        }
        else
        {
            //replace "text" with "password" if it is a text field
            newHtml = oldHtml.replace(/text/g, "password");
        }
        //update the html
        myInput.outerHTML = newHtml;
        //restore the text value
        myInput = document.querySelector("[data-show]");
        myInput.value = text;
        //toggle the isPassword flag
        isPassword = !isPassword;
    }
</script>
  </div>
</div>
