---
layout: base.njk
title: "Search"
---

<div class="w-container">
  <h1>Search results</h1>
  <form action="/search" class="w-form"><label for="search">Search</label><input class="w-input" maxlength="256" name="query" placeholder="Search…" type="search" id="search" required=""><input type="submit" class="w-button" value="Search"></form>
</div>
