---
layout: base.njk
title: "Member Care Agreements"
---

{% block content %}
<div class="page-wrapper">
  <div class="dashboard-section">
    <div class="dashboard-content">
      <div class="content-container">
        <div class="diversity-content-box">
          <div class="rich-text-block-15 w-richtext">
            <h3>Community Care Agreements</h3>
            <p>At Rooted In Mindfulness (RIM), we strive to create a culture that is deeply intentional, accepting, easygoing, and friendly. In order to foster a safe and supportive environment, we ask everyone who joins RIM to agree to the following four shared intentions. These agreements enable us to co-create a refuge for deep learning, practice, and friendship.</p>
            <h5><strong>1. Care for Yourself</strong></h5>
            <p>Meditation and mindful living allow us to transform unhealthy patterns of the heart and mind, helping us realize authentic health, well-being, meaning, and happiness. While a community, teachers, and supportive friends can be powerful allies on the path of awakening, growth, and transformation, it is ultimately up to each of us to take the necessary steps along the journey.</p>
            <h5><strong>2. Care for Others</strong></h5>
            <p>The work of self-discovery and development can be challenging to undertake alone. Being part of a loving community where each member genuinely cares for one another&#x27;s well-being offers a true refuge. Showing up and sharing an intentional space to learn and practice with friends is immeasurably beneficial for both ourselves and our shared world.</p>
            <h5><strong>3. Care for RIM: Our Shared Refuge</strong></h5>
            <p>RIM is co-created through the generosity, goodwill, and appreciation of its community. As a living expression of generosity, RIM is 100% community-funded and entirely dependent on donations. These donations cover all operating costs, contribute to teacher livelihoods, and maintain the building.</p>
            <p>RIM does not charge fixed &quot;fees.&quot; Instead, we ask that all members contribute to the financial health of our precious center with an ongoing donation amount (RIM Dana) that feels right to them. When deciding on ongoing financial support, please be mindful of what stirs in your heart, your financial ability, and the value the RIM community and teachings have in your life.</p>
            <h5><strong>4. Care for Our Shared Mission and Vision</strong></h5>
            <p>RIM is a community refuge that welcomes individuals while creating opportunities for mutual support and friendship. Members of RIM are dedicated to learning and practicing the dharma, meditation, and mindful living. We do this to understand ourselves, others, and the world, aiming to free ourselves from unhealthy and harmful thoughts, words, and actions in order to realize our shared vision. This vision encompasses a world where all beings live with great wisdom and great compassion.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
