---
layout: base.njk
title: "My Profile"
memberArea: true
---

{% block content %}
<div class="page-wrapper">
  <div class="dashboard-section">
    <div class="dashboard-content">
      <h1 class="heading-45">Your Profile Details</h1>
      <div class="flex-stack-center top">
        <div class="container-10">
          <h4 class="heading-46">Update Member Data</h4>
          <div class="w-form">
            <form id="wf-form-signup" name="wf-form-signup" data-name="signup" method="get" data-ms-form="profile" class="profile-form">
              <div>
                <div class="text-field-wrapper-2"><label for="First-Name-4" class="field-label-3">First Name</label><input class="signup-field w-input" maxlength="256" name="First-Name-4" data-name="First Name 4" placeholder="" type="text" id="First-Name-4" data-ms-member="first-name" required=""></div>
                <div><label for="Last-Name-4" class="field-label-3">Last Name</label><input class="signup-field w-input" maxlength="256" name="Last-Name-4" data-name="Last Name 4" placeholder="" type="text" id="Last-Name-4" data-ms-member="last-name" required=""></div>
              </div>
              <div class="text-field-wrapper-2"><label for="Phone-2" class="field-label-3">Phone</label><input class="signup-field w-input" maxlength="256" name="Phone-2" data-name="Phone 2" placeholder="" type="text" id="Phone-2" data-ms-member="phone-number" required=""></div><input type="submit" data-wait="Please wait..." class="profile-form-button w-button" value="Save Profile">
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-stack-center top">
        <div class="container-10">
          <div class="w-form">
            <form id="wf-form-signup-email" name="wf-form-signup-email" data-name="signup" method="get" data-ms-form="email" class="profile-form">
              <h4 class="heading-46">Update Email</h4>
              <div><label for="Email" class="field-label-3">Email Address</label><input class="signup-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="" type="email" id="Email" data-ms-member="email" required=""></div><input type="submit" data-wait="Please wait..." class="profile-form-button w-button" value="Update Email">
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-stack-center top">
        <div class="container-10">
          <div class="w-form">
            <form id="wf-form-signup-password" name="wf-form-signup-password" data-name="signup" method="get" data-ms-form="password">
              <h4 class="heading-46">Update Password</h4>
              <div><label for="current-password" class="field-label-3">Current Password</label><input class="signup-field w-input" maxlength="256" name="current-password" data-name="Current Password" placeholder="" type="password" id="current-password" data-ms-member="current-password" required=""></div>
              <div><label for="new-password" class="field-label-3">New Password</label><input class="signup-field w-input" maxlength="256" name="new-password" data-name="New Password" placeholder="" type="password" id="new-password" data-ms-member="new-password" required="">
                <div class="text-block-90">Must be at least 8-characters long.</div>
              </div><input type="submit" data-wait="Please wait..." class="profile-form-button w-button" value="Update Password">
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
