---
layout: base.njk
title: "My Library"
memberArea: true
---

{% block content %}
<div class="page-wrapper">
  <div class="dashboard-section">
    <div class="dashboard-content">
      <div class="dashboard-content">
        <div>
          <h1 class="heading-11">Learning and Practice Support</h1>
          <p class="paragraph-17-copy">The following are links to the learning and practice resources associated with your activities at RIM. <br><strong>Please Note:</strong> This page is still a work in progress and subject to change ;)</p>
          <div class="w-layout-grid programlistblock">
            <div class="dashboard-list-name-and-date-container">
              <div class="name-day-and-time-block">
                <div class="dashboard-title-container">
                  <h1 class="event-name">Glossary of Dharma Terms<br></h1>
                </div>
              </div>
            </div>
            <div class="program-links">
              <div class="program-links">
                <a href="#" class="program-list-button w-button">Coming Soon</a>
              </div>
            </div>
          </div>
          <div class="w-layout-grid programlistblock">
            <div class="dashboard-list-name-and-date-container">
              <div class="name-day-and-time-block">
                <div class="dashboard-title-container">
                  <h1 class="event-name">Four Foundations of Mindfulness (Satipatthana) Sutta<br></h1>
                </div>
              </div>
            </div>
            <div class="program-links">
              <div class="program-links">
                <a href="https://www.rootedinmindfulness.org/course/satipatthana-sutta" class="program-list-button w-button">Go →</a>
              </div>
            </div>
          </div>
          <div class="w-layout-grid programlistblock">
            <div class="dashboard-list-name-and-date-container">
              <div class="name-day-and-time-block">
                <div class="dashboard-title-container">
                  <h1 class="event-name">Loving-Kindness (Metta) Sutta<br></h1>
                </div>
              </div>
            </div>
            <div class="program-links">
              <div class="program-links">
                <a href="https://www.rootedinmindfulness.org/lessons/metta-sutta" class="program-list-button w-button">Go →</a>
              </div>
            </div>
          </div>
          <div data-ms-content="dharma-study" class="w-layout-grid programlistblock">
            <div class="dashboard-list-name-and-date-container">
              <div class="name-day-and-time-block">
                <div class="dashboard-title-container">
                  <h1 class="event-name">Handful of Leaves Learning and Practice Resourses</h1>
                </div>
              </div>
            </div>
            <div class="program-links">
              <div class="program-links">
                <a href="https://www.rootedinmindfulness.org/course/essential-dharma-study-resources" class="program-list-button w-button">Go →</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
