<div class="footer">
  <div class="container-7">
    <div class="footer-top-row">
      <div class="footer-logo-column">
        <img src="/images/RIM-Website-Footer-Logo-White.png" height="" alt="Rooted In Mindfulness" width="75" class="footer-logo">
      </div>
      <div class="footer-links-column">
        <div class="footer-links-column-child"></div>
        <div class="footer-links-column-child">
          <div class="footer-address">Rooted In Mindfulness<br>4040 N. Calhoun Rd.<br>Brookfield, WI, 53005</div>
          <div class="footer-links-phone-email">
            <div class="footer-telephone">
              <a href="tel:4148828932" class="link">(414) 882-8932</a>
            </div>
            <a href="mailto:support@rootedinmindfulness.org?subject=Dear%20RIM%20Support" class="footer-link-email">support@rootedinmindfulness.org</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-row">
      <div class="small-text-2">©2020 Rooted In Mindfulness | 501(c)(3) Non-Profit | <a href="/donate" target="_blank" class="link-3">Donate</a></div>
      <div class="small-text-2">Powered by Kind People :) <a href="/volunteerism/volunteer" class="link-2">Volunteer</a></div>
    </div>
  </div>
</div>
<div class="combine-section_banner1">
  <div class="combine-padding-global">
    <div class="combine-container-large"></div>
  </div>
</div>
