<!-- Desktop Nav -->
<div data-collapse="small" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
  <div class="navigation-container">
    <div class="navigation-left">
      <a href="/" class="brand-3 w-nav-brand">
        <img src="/images/Rooted-In-Mindfulness-Logo.png" alt="Rooted In Mindfulness" height="45" class="flowbase-logo">
        <h1 class="heading-8">Rooted In Mindfulness</h1>
      </a>
    </div>
    <div class="navigation-right">
      <nav role="navigation" class="nav-menu-2 w-nav-menu">
        <a href="/community-programs" class="navigation-link w-nav-link">Programs</a>

        <!-- Get Involved dropdown -->
        <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle w-dropdown-toggle">
            <div class="icon-4 w-icon-dropdown-toggle"></div>
            <div class="text-block-14"><span class="text-span-24">Get Involved</span></div>
          </div>
          <nav class="navigation-dropdown w-dropdown-list">
            <div class="dropdown-pointer">
              <div class="dropdown-wrapper">
                <a href="/volunteerism/volunteer" class="dropdown-link w-inline-block">
                  <div class="nav-content-wrap">
                    <div class="dropdown-title">Volunteer</div>
                    <div class="nav-link-details">Help Co-Create Refuge at RIM</div>
                  </div>
                </a>
                <a href="/kalyana-mitta/community-groups-events" class="dropdown-link w-inline-block">
                  <div class="nav-content-wrap">
                    <div class="dropdown-title">Start a Community Group</div>
                    <div class="nav-link-details">Create a Community Group or Event</div>
                  </div>
                </a>
              </div>
              <div class="pointer"></div>
            </div>
          </nav>
        </div>

        <!-- Member Area dropdown -->
        <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle w-dropdown-toggle">
            <div class="icon-4 w-icon-dropdown-toggle"></div>
            <div class="text-block-14"><span class="text-span-8">Member Area</span></div>
          </div>
          <nav class="navigation-dropdown w-dropdown-list">
            <div class="dropdown-pointer">
              <div class="dropdown-wrapper">
                <a data-ms-content="members" href="/account/dashboard" class="dropdown-link w-inline-block">
                  <div class="nav-content-wrap">
                    <div class="dropdown-title">My Dashboard</div>
                    <div class="nav-link-details">Go to Your Personal Page</div>
                  </div>
                </a>
                <a data-ms-action="logout" data-ms-content="members" href="#/ms/logout" class="dropdown-link w-inline-block">
                  <div class="nav-content-wrap">
                    <div class="dropdown-title">Logout</div>
                    <div class="nav-link-details">Logout of Your Account</div>
                  </div>
                </a>
                <a data-ms-content="!members" href="/login" class="dropdown-link w-inline-block">
                  <div class="nav-content-wrap">
                    <div class="dropdown-title">Login</div>
                    <div class="nav-link-details">Access Community Resources</div>
                  </div>
                </a>
                <link rel="prefetch" href="/login">
                <a data-ms-content="!members" href="/community-membership" class="dropdown-link w-inline-block">
                  <div class="nav-content-wrap">
                    <div class="dropdown-title">Join Us</div>
                    <div class="nav-link-details">Create a RIM Member Account</div>
                  </div>
                </a>
                <link rel="prefetch" href="/community-membership">
              </div>
              <div class="pointer"></div>
            </div>
          </nav>
        </div>
      </nav>

      <div class="login-buttons">
        <a href="/donate" class="button-menu w-button">DONATE</a>
      </div>
    </div>
  </div>
</div>

<!-- Mobile Nav -->
<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-out" data-easing2="ease-out" role="banner" class="navigation-mob w-nav">
  <div class="navigation-container-mob">
    <a href="/" class="brand-4 w-nav-brand">
      <img src="/images/Rooted-In-Mindfulness-Logo.png" alt="Rooted In Mindfulness" class="flowbase-logo">
      <h1 class="heading-8">Rooted In Mindfulness</h1>
    </a>
    <nav role="navigation" class="mobile-nav w-nav-menu">
      <a href="/login" data-ms-content="!members" class="mobile-nav-link w-nav-link">Login</a>
      <a href="#" data-ms-action="logout" data-ms-content="members" class="mobile-nav-link w-nav-link">Sign Out</a>
      <a href="/account/dashboard" data-ms-content="members" class="mobile-nav-link w-nav-link">My Member Area</a>
      <a href="/community-programs" class="mobile-nav-link w-nav-link">Programs</a>
      <a href="/volunteerism/volunteer" class="mobile-nav-link w-nav-link">Volunteer Opportunities</a>
      <a href="/kalyana-mitta/community-groups-events" class="mobile-nav-link w-nav-link">Start A Community Group</a>
      <a href="/community-membership" data-ms-content="!members" class="mobile-nav-link w-nav-link">Join RIM</a>
      <a href="/donate" class="mobile-nav-link donate-nav-link w-nav-link">Donate Today</a>
    </nav>
    <div class="menu-mob w-nav-button">
      <div class="icon-5 w-icon-nav-menu"></div>
    </div>
  </div>
</div>
